@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  background-image: url(https://www.gannett-cdn.com/media/2016/03/28/Phoenix/Phoenix/635947826708926352-Portrait-Gallery-in-Hogwarts-Castle-WWoHP-at-USH.jpg?width=2560);
}

body::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: url(https://images.unsplash.com/photo-1568131285503-7fb4bfc21765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FzdGxlJTIwd2FsbHxlbnwwfHwwfHw%3D&w=1000&q=80); */
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  z-index: 1;
}

.container .card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  width: 280px;
  height: 400px;
  margin: 30px;
  border-radius: 15px;
  background: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  backdrop-filter: blur(5px);
}
.container img{
  height: 250px;
  width: auto;
}
.container .card .content{
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.container .card h3{
  font-size: 1.8rem;
  color: white;
  z-index: 1;
}

a:link{
 color:white;
}


@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}

